html
  head
    title
  body
    h1= message
    if count > 5
        p Count is bigger then 5
    else
        p is Five or less
    table
        thead
            tr
                th ID
                th Name
                th Description
        tbody
            each obj in data
                tr
                    td= obj.id
                    td= obj.name
                    td= obj.description
